.boutique{
    padding-top: 50px;


}

.produit-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-column-gap: 70px;
    justify-content: space-evenly;
    align-items: center;
}

.boutique-produit{
    min-height: 500px;
    background-color: blue;
}

