/* -- RESET --*/

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;

}

@font-face {
    font-family: 'Open sans', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
}