/* -- RESET --*/

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;

}
