
body{
    background-color:  #f3f0ec;
}

.contact{
    
    position: relative;
    
}


.contact-title{
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size:3em;
    color: white;
    background-color: #f48c06;
    
}

.contact-text{
    color: #f48c06;
}

/*First section --> Contact Informtions*/
.contact-info{
    height: 100vh;
    background-color: #f3f0ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
    
     
}



.contact-info-container{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 
  

}


.contact-info-square{  
    
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    
}

.contact-square-title{
    padding: 10px;
    font-size:1.5em;
    color: white; 
    background-color: #168aad; 
}

.contact-square-image{
    margin: 10px 0; 
    width: 250px;
    height: 250px;
    
}

.contact-square-image:hover{
    opacity:0.3;
    cursor: pointer;
}

.contact-square-image-mail{
    background-image:url("../img/email.png");
    background-size:100%;
}

.contact-square-image-phone{
    background-image:url("../img/telephone.png");
    background-size:100%;
}

#contact-map{
    margin: 10px 0;       
    width: 250px;
    height: 250px;
}


/*Second section --> Contact us Type box */
.contact-typebox{
    height:100vh;
    background-color: #f3f0ec;

    
}


.contact-aboutus{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    
}
.contact-aboutus-square{
    margin:5px  ;
    max-width: 50%;
}


.contact-emailbox{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.contact-textinput{
    padding: 0px 10px;
    display: block;
    width: 100%;
    margin: 5px 0;
    border: 1px solid #f48c06;
}



#objet{
    width: 50%;
    flex-grow: 1;
}
#mail{
    width: 50%;
    flex-grow: 1;
}
#message{
    width: 100%;
    flex-grow: 8;

}
#benvoyer{
    flex-grow: 1;
}