body{
    background-color:  #f3f0ec;
}

.contact{
    height:100vh;
    min-height:100vh;
    position: relative;
    
}

.contact-header{
    padding: 30px 0;
}
.contact-title{
    text-align: center;
    font-size: 2.5em;
    
}

.contact-container{
    width:70%;
    min-height:700px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap:30px;
     
}

.contact-container >div{
    min-height:700px;
    width:100%;
    padding:2em;
}

.contact-aboutus{
    background-image:url("../img/paul-berthelon-bravo-BGXhuJIbx78-unsplash\(1\).jpg");
    background-color: #ccc;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    
}

.contact-aboutus-square{
    background-color: white;
    box-shadow: 3px 7px 3px 1px rgba(0,0,0, 0.15);
    height: 250px;
    width: 250px;
    margin:5px  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contact-aboutus-square:first-child{
    background-image:url("../img/paul-berthelon-bravo-BGXhuJIbx78-unsplash\(1\).jpg");
    background-color: #ccc;
}

.contact-aboutus-square:nth-child(2n){
    background-image:url("../img/paul-berthelon-bravo-BGXhuJIbx78-unsplash\(1\).jpg");
    background-color: #ccc;

}

.contact-aboutus-square:nth-child(3n){
    background-image:url("../img/paul-berthelon-bravo-BGXhuJIbx78-unsplash\(1\).jpg");
    background-color: #ccc;

}

.contact-aboutus-square:last-child{
    background-image:url("../img/paul-berthelon-bravo-BGXhuJIbx78-unsplash\(1\).jpg");
    background-color: #ccc;

}


.contact-contactus{
    background-image:url("../img/paul-berthelon-bravo-BGXhuJIbx78-unsplash\(1\).jpg");
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.contact-contactus >div{
    flex-grow: 1;
    margin:5px  ;
    background-color: white;
    box-shadow: 3px 7px 3px 1px rgba(0,0,0, 0.15);
}

.contact-info{
    
}

.contact-email{
    
}