/* --- HOME NAVIGATION --- */

.home-navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding: 0 30px;
    position: absolute;
    z-index: 1000;
    color: #fff;
    width: 100%;
}

.home-navigation-list{
    display: flex;
    justify-content: flex-end;


}

.home-navigation-list-item{
    list-style: none;
    font-weight: bold;
}

.home-navigation-list-item:last-child{
    margin-left: 30px;

}
