.generator{ 
    min-height: calc(100vh - 65px);
    padding-bottom: 50px;
    background-color:  #f3f0ec;

}

.generator-header{
    margin-bottom: 50px;
}

.generator-title{
    background-color: #f48c06;
    color: #fff; 
    text-align: center;
    padding: 15px 0;

}

.generator-container{
    width: 70%;
    margin: 0 auto;
    padding:50px;
    overflow: hidden;
    background-color: #fff;
    margin: 30px auto;
    margin-bottom: 0;
}





    /* ------ BUTTONS AND ANIMATION ------ */
.generator-buttons{
    display: block;
    text-align: center;
}

.generator-button{
    font-size: 20px;
    padding: 0.5em;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;

}
.generator-button-generate{
    background-color: #f48c06; 
}

.generator-button-insert{
    background-color: #168aad;    
}

.generator-buttons-disabled{
    cursor: not-allowed;
}

.generator-or{
    padding: 0.8em;
    font-size: 18px;
}

.generator-animate-fadeout{
    animation: fadeOut 1s forwards;
}



    /* ------ MEME GENERATOR INTERFACE ------ */

.generator-creation{
    display: none;
    justify-content: space-between;
    min-height: 100%;
}

#generator-mode-title{
    padding: 20px;
    background-color: #f48c06;
    color: white;
    text-align: center;
}

#generator-canvas{
    width: 100%;
    border: 2px solid;
}

.generator-img-container{

    width: 50%;

}

.generator-img-container #generator-img{
    display: none;

    
}

.generator-customization-zone{
    width: 45%;
}

.generator-parameters-container{
    padding: 30px 0;
}


    /*-- MEME GENERATE INPUT  --*/ 
.generator-generateBtn{
    padding: 0.2em;
    color: #f48c06;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: 1px solid;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

#generator-insertBtn{
    display: none;
}
        



.generator-texts-container{
    display: none;
    flex-direction: column;
    margin: 10px 0;
}

.generator-text-choice-container{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.generator-text-choice-item{

}

.generator-text-choice-item label{
    margin-right: 5px;
    color: #f48c06;
    font-weight: bold;
}



    /*-- MEME TEXT INPUT --*/ 
.geneator-meme-textInput{
    margin-bottom: 15px;
    padding: 0.5em;
    display: block;
    width: 100%;
    border: 1px solid #f48c06;
    display: none;
}

    /*-- RANGE SLIDERS --*/ 

.generator-position-container{
    display: none;
    border: 1px solid #f48c06;
    padding: 20px;
}

.generator-rangeSlider-container{
    
}

.generator-positionText{
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #f48c06;
    text-align: center;
}
.generator-rangeSliders-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generator-rangeSliders-item:not(:last-child){
    margin-bottom: 10px;
}

.generator-rangeSliders-item label{
    color: #6c757d;
}
.generator-rangeSlider{
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background-color: #f48c06;

}

.generator-rangeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 12px; 
    height: 12px; 
    background: white; 
    cursor: pointer; 
    border: 1px solid #f48c06;
    
  }
  
.generator-rangeSlider::-moz-range-thumb {
    width: 12px; 
    height: 12px; 
    background: white; 
    cursor: pointer; 
    border: 1px solid #f48c06;
  }

  .generator-rangeSliderBlue::-webkit-slider-thumb {
    appearance: none;
    width: 12px; 
    height: 12px; 
    background: white; 
    cursor: pointer; 
    border: 1px solid #168aad;
    
  }
  
.generator-rangeSliderBlue::-moz-range-thumb {
    width: 12px; 
    height: 12px; 
    background: white; 
    cursor: pointer; 
    border: 1px solid #168aad;
  }

    /*-- MEME DOWNLOAD BUTTON --*/ 
.generator-downloadBtn{
    display: none;
    text-align: center;
    padding: 0.2em;
    color: #f48c06;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: 1px solid;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;

}










    /*-- CSS ANIMATIONS --*/ 

@keyframes fadeOut {
    0%{
        opacity: 1;
        visibility: visible;
    }

    100%{
        opacity: 0;
        visibility: none;
    }
    
}