.cart{ 
    min-height: calc(100vh - 65px);
    background-color:  #f3f0ec;
    padding-bottom: 50px;

}

.cart-title{
    background-color: #76c893;
    color: #fff; 
    text-align: center;
    padding: 15px 0;

}
.tables-container{
    width: 60%;
    margin: 30px auto;
    margin-bottom: 0;

}
.cart .table-articles{
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
  
}

.table-articles th{
    text-align: left;
    background-color: #76c893;
    color: white;
    padding: 10px;
}
.table-articles td{
    border: 1px solid black;
    padding: 15px;
    background-color: white;
   
}

.table-articles tr:not(:first-child) td:first-child{
    width: 450px;
}

.table-articles .product{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.table-articles .product img{
    object-fit: cover;
    max-width: 100%;



}

.table-articles .product .product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.table-articles .product .product-card p{
    font-weight: bold;
}

.td-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-container input{
    width: 40px;
    padding: 5px;
}
.table-total-price{
    display: flex;
    justify-content: flex-end;
    border-spacing: 10px;
    border-collapse: separate;
}

.table-total-price th{
    background-color: #76c893;
    padding: 10px;
    color: white;
    text-align: center;
}

.table-total-price td{
    padding: 10px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

.order-form-container{
    min-height: 800px;
    margin: 10px;
    width: 100%;
    display:flex;
    flex-direction:column ;
    align-items: flex-end;
}

.order-information{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,40%);
    row-gap: 4%;
    column-gap: 3%;
    justify-content:flex-end;
    align-items:center;
}
.order-label{
    background-color: #76c893;
    padding: 10px;
    color: white;
    text-align: center;
}

.order-text{
    margin:0 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}


.order-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
}

.order-button button{
    margin-top: 15px;
    padding: 1em;
    color: white;
    font-weight: bold;
    background-color: #76c893;
    cursor: pointer;
    border: none;
    font-size: 15px;
}