body{
    background-color:  #f3f0ec;
}
.generator{

}

.generator-title{
    text-align: center ;
}

.generator-container{
    width:50%;
    margin: 0 auto;
    min-height: 500px;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.generator-buttons{

}

.generator-button{
    font-size: 20px;
    padding: 0.5em;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.generator-button-generate{
    background-color: #f48c06; 
}

.generator-button-insert{
    background-color: #168aad;    
}
.generator-or{
    padding: 0.8em;
    font-size: 18px;
}